<div class="row">
  <div class="col-md-6">
    <div style="display: block;">
    <canvas baseChart width="400" height="400"
                [datasets]="stock.lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
    </canvas>
    </div>
  </div>
  <div class="col-md-6" style="margin-bottom: 10px">
    <table class="table table-responsive table-condensed">
      {{stock.stockName}}
      <tr>
        <th>Open</th>
        <th>High</th>
        <th>Low</th>
        <th>Close</th>
        <th>Volume</th>
      </tr>
      
        <td>{{stock.stockObj['1. open']}} </td>
        <td>{{stock.stockObj['2. high']}} </td>
        <td>{{stock.stockObj['3. low']}} </td>
        <td>{{stock.stockObj['4. close']}} </td>
        <td>{{stock.stockObj['5. volume']}} </td>
      
    </table>

  </div>
</div>