<!--The content below is only a placeholder and can be replaced.-->
<header class="header-6">
    <div class="branding">
        ...
    </div>
    <div class="header-nav">
        <a href="http://mean-stack-charlie-2018-raymond-phortonssf.c9users.io:8081/stocksearch" class="active nav-link nav-text">Stock Search</a>
    </div>
    <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon">
            <clr-icon shape="cog"></clr-icon>
        </a>
        <app-login></app-login>
    </div>
</header>
<router-outlet></router-outlet>
<div style="text-align:center">
</div>
<app-chart></app-chart>
