
  <div class="main-container">
    <div class="content-container">
        <div class="content-area">
             <app-chart></app-chart>
        </div>
        <nav class="sidenav">
            Welcome {{name}}! <br> 
            <section class="sidenav-content">
                <input type='text' placeholder = "search" [(ngModel)] = "stockObj.stock"> <br>
  <button (click)="getStock(stockObj.stock)" >get stock</button> <br>
    <button (click)="favoriteStock()" >save as favorite</button>
                
                <section class="nav-group collapsible">
                    <input id="tabexample1" type="checkbox">
                    <label for="tabexample1">See Favorites</label>
                    <ul class="nav-list">

                    <li let *ngFor = "let fave of favorites"><a class="nav-link" (click) = "getStock(fave)">{{fave}}</a></li>
                    </ul>
                    <button class="btn btn-link" (click)= "onLogout()">Logout</button>

                </section>
             
            </section>
        </nav>
    </div>
</div>
 
  
      <!--<button (click)="getFavorites()" >see favorites</button>-->
